In [0]:
import sqlite3
import pandas as pd

## Exercícios

![alt text](http://www.sqlitetutorial.net/wp-content/uploads/2015/11/sqlite-sample-database-color.jpg)

### There are 11 tables in the chinook sample database.

*  `employees` table stores employees data, such as employee id, last name, first name, etc. It also has a field named `ReportsTo` to specify who reports to whom.

*  `customers` table stores customers data.

*  `invoices` & `invoice_items` tables: these two tables store invoice data. The `invoices` table stores invoice header data and the `invoice_items` table stores the invoice line items data.

*  `artists` table stores artists data. It is a simple table that contains only artist id and name.

*  `albums` table stores data about a list of tracks. Each album belongs to one artist. However, one artist may have multiple albums.

*  `media_types` table stores media types such as MPEG audio and AAC audio file.

*  `genres` table stores music types such as rock, jazz, metal, etc.

*  `tracks` table store the data of songs. Each track belongs to one album.

*  `playlists` & `playlist_track` tables: `playlists` table store data about playlists. Each playlist contains a list of tracks. Each track may belong to multiple playlists. The relationship between the `playlists` table and `tracks` table is many-to-many. The `playlist_track` table is used to reflect this relationship.

### Download do chinook sample database

In [1]:
!wget http://www.sqlitetutorial.net/wp-content/uploads/2018/03/chinook.zip

'wget' is not recognized as an internal or external command,
operable program or batch file.

In [0]:
!unzip chinook.zip

Archive:  chinook.zip
  inflating: chinook.db

In [2]:
conn = sqlite3.connect('chinook.db')

NameError: name 'sqlite3' is not defined

## Consultas

### 1. Sobrenome do gerente que possui mais funcionários que reportam a ele

NameError: name 'conn' is not defined

### 2. Gênero com maior quantidade de músicas

### 3. Nome do cliente com maior consumo na loja

### 4. Nome da playlist de maior duração

### 5. Nome do cantor do gênero ROCK que possui mais músicas incluídas em playlists